In [1]:
import pandas as pd
import sqlite3
from rubin_sim.data import get_baseline

In [2]:
# or replace with any local file you want to use
baseline_db = get_baseline()

In [3]:
conn = sqlite3.connect(baseline_db)

In [4]:
# In the near future, 'summaryallprops' will be replaced with 'observations'
df = pd.read_sql('select * from summaryallprops;', conn)

In [5]:
# Make any changes you want to the dataframe
df

,observationId,fieldRA,fieldDec,observationStartMJD,flush_by_mjd,visitExposureTime,filter,rotSkyPos,numExposures,airmass,...,moonAz,sunAz,sunRA,sunDec,moonRA,moonDec,moonDistance,solarElong,moonPhase,cummTelAz
0,0,298.330258,0.734934,59853.985644,0.0,30.0,i,188.750646,2,1.169570,...,269.499448,258.357865,3.277205,-0.058536,263.929527,-26.677289,42.991584,110.567593,42.296597,8.149452
1,1,295.864474,-1.054837,59853.986091,0.0,30.0,i,194.091425,2,1.145619,...,269.441770,258.270860,3.277212,-0.058539,263.934289,-26.677432,39.960713,107.993932,42.298718,3.483679
2,2,298.922955,-1.962287,59853.986542,0.0,30.0,i,188.800170,2,1.138080,...,269.383554,258.183051,3.277219,-0.058542,263.939091,-26.677572,41.665426,110.978198,42.300856,9.941619
3,3,296.453907,-3.788133,59853.986990,0.0,30.0,i,193.417345,2,1.117220,...,269.325574,258.095604,3.277226,-0.058545,263.943869,-26.677710,38.598114,108.373700,42.302985,4.927230
4,4,297.040820,-6.523171,59853.987438,0.0,30.0,i,192.253246,2,1.092706,...,269.267391,258.007856,3.277233,-0.058548,263.948659,-26.677844,37.366903,108.702900,42.305118,6.616359
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2045488,2045488,77.381258,-46.854213,63506.392233,0.0,30.0,i,43.269582,2,1.044902,...,76.232861,101.756670,3.274578,-0.057407,154.678990,6.573412,86.223904,101.204485,19.073691,-8.470716
2045489,2045489,69.405660,-53.556975,63506.392713,0.0,30.0,i,29.429963,2,1.102042,...,76.144357,101.663899,3.274585,-0.057410,154.683776,6.571888,92.492619,103.545393,19.071179,-0.762708
2045490,2045490,70.721504,-61.455152,63506.393176,0.0,30.0,i,36.771657,2,1.179151,...,76.058819,101.574489,3.274593,-0.057413,154.688391,6.570416,92.901659,99.521805,19.068757,-8.217458
2045491,2045491,70.721504,-61.455152,63506.393593,0.0,30.0,i,36.503002,2,1.179466,...,75.981827,101.494225,3.274599,-0.057416,154.692536,6.569092,92.902453,99.521822,19.066582,-8.217458
2045492,2045492,77.241342,-56.855176,63506.394057,0.0,30.0,i,45.744601,2,1.120317,...,75.896037,101.405027,3.274607,-0.057419,154.697145,6.567617,88.727552,98.165887,19.064164,-12.665809

In [6]:
conn.close()

In [7]:
# open up a connection to a new database
conn = sqlite3.connect('my_new_database.db')

In [8]:
df.to_sql('SummaryAllProps', conn, index=False, if_exists='replace')

In [9]:
conn.close()